.input-btn{
    width: 100px;
    background-color: white;
    border: 1px solid silver;
    border-radius: 6px;
    padding: 4px;
    transition: 0.5s;
}

.input-btn:hover{
    background-color: black;
    color: white;
    border-color: white;
}

thead.fixedHeader tr {
    position: relative;
}

thead.fixedHeader th {
    background: #C96;
    border-left: 1px solid #EB8;
    border-right: 1px solid #B74;
    border-top: 1px solid #EB8;
    font-weight: normal;
    padding: 4px 3px;
    text-align: left
}

.overflow-table{
    display: block;
    overflow-y: auto;
    max-height: 250px;
}

::selection{
    background-color: black;
    color: white;
}