.input-btn{
    width: 100px;
    background-color: white;
    border: 1px solid silver;
    border-radius: 6px;
    padding: 4px;
    transition: 0.5s;
}

.input-btn:hover{
    background-color: black;
    color: white;
    border-color: white;
}

::selection{
    background-color: black;
    color: white;
}

.graph{
    text-align: center;
}

.version{
    float: right;
    text-align: center;
    color: gray;
}

/* CSS for graph dropdown  */ 
.GraphDropdown{
    float:right;
}

/* CSS for the chart */
{box-sizing: border-box;}

.overflow-table table{
    width:100%;
}

.overflow-table thead{
    display: table;
    width: 100%; /* scroll bar width is 17px*/
}

.overflow-table tbody{
    display: block;
    max-height: 250px;
    overflow-y: auto;
}

.overflow-table th{
    text-align: center;
}

.overflow-table th, td{
    width:calc(100% / 6);/* Divide the full width by number of columns in table */
    text-align: center;
}

.overflow-table tr{
    display: table;
    width: 100%
}

.overflow-table td{
    text-align: center;
    border-bottom: none;
    border-left: none;
}

.overflow-table tr td:nth-child(1){
    font-weight: bold;
    cursor: pointer;
}

/* Modal CSS */

.modalHeader{
    text-align: center;
}

.header{
    background-color: lightgray;
}

.closeTag{
    float: left;
}

.error{
    color: red;
}

.reportsTable{
    border: 1px solid black;
    height: 300px;
}

/* make cursor into pointer */
.nav-link{
    cursor: pointer;
}