.num-slider-container{
    text-align: center;
}

.num-slider-container input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 6px;
    width: 100%;
    height: 6px;
    opacity: 0.75;
    transition: 0.25s;
    outline: none;
    cursor: pointer;
}

.num-slider-container input[type="range"]:focus{
    opacity: 1;
}

.num-slider-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-color: steelblue;
    border: 1px solid darkblue;
    border-radius: 4px;
    width: 15px;
    height: 15px;
}

.num-slider-container input[type="number"]{
    width: 100%;
    border: 1px solid silver;
    border-radius: 6px;
    padding: 3px;
    margin-bottom: 5px;
}

.num-slider-container input[type="number"]:focus{
    outline: none;
}