@media print {
    @page {
        margin: 0.75cm;
    }

    #root {
        font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    }

    nav, footer, .Version, 
    button, .num-slider-slider,
    .trend-line-container,
    .trend-slider, .trend-line-text {
        display: none !important;
    }

    .card-body, .card {
        border: none;
    }

    select {
        font-family: 'Times New Roman', Times, serif;
        font-size: 13px;
    }

    .input-container {
        width: 100% !important;
        display: block !important;
        margin: auto;
        font-size: 13px;
        padding: 0;
    }

    .input-container .row {
        display: inline-block !important;
    }

    .input-container .row .form-group {
        padding: 20px 40px 20px 40px;
    }    

    .input-container .row .form-group input {
        width: 125px;
        text-align: center;
    }
    
    .graph-container {
        display: block !important;
        min-width: 650px;
        padding: 100px 0 0 0;
        margin: auto;
    }

    .graph-container .graph-button {
        display: inline-block !important;
        border-top: none;
        border-right: none;
        border-left: none;
        margin-bottom: 15px;
    }

    .print-title-containter {
        display: block !important;
        margin: auto;
        padding: 30px 0 60px 0;
    }

    .print-title-containter h1 {
        font-family: 'Cabin Sketch';
        font-weight: 700;
    }

    .input-graph-container h2 {
        padding: 0 0 60px 0;
    }

    table {
        page-break-before: always;
        margin: auto;
    }
}