@media print {
    @page {
        margin: 0.75cm;
    }

    #root {
        font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    }

    nav, footer, .Version, 
    button, .num-slider-slider,
    .trend-line-container {
        display: none;
    }

    .card-body, .card {
        border: none;
    }

    .graph-container {

    }

    .input-container {
        font-size: 13px;
        max-width: 20%;
        margin: 10px;
    }

    .input-graph-container {

    }
}